@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;600;700&family=Kumbh+Sans:wght@700&family=Reem+Kufi+Fun:wght@400;500;600;700&family=Source+Sans+3:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.mygrid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr); 
}

.ele {
    height: calc(40vw / 10);
    width: calc(40vw / 10);
    max-height: 50px;
    max-width: 50px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@layer components {
    .sectionSize {
        @apply flex flex-col items-center px-4 lg:px-48 md:px-12 py-14;
    }

    .secondaryTitle {
        @apply px-16 pb-8 mb-8 text-3xl bg-left-bottom bg-no-repeat;
    }
}

.growing-underline {
    display: block;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
}

.growing-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}

.growing-underline:hover::after,
.growing-underline:focus::after {
    transform: translate3d(0, 0, 0);
}